body {
  background-image: linear-gradient(
    to left,
    rebeccapurple,
    steelblue,
    turquoise
  );
  background-size: 500% 100%;

  transition: 1s;
  animation: degrade-animado 1s infinite alternate;
}

@keyframes degrade-animado {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}

.container {
  margin: auto;
  margin-top: 100px;
  
  width: 600px;
  height: 600px;
  
  background-color: #292a2d;
  border-radius: 10px;
}

#resultado {
  height: 100px;
  margin-right: 10px;

  color: white;
  font-size: 50px;
  font-weight: bold;

  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.options {
  width: 100%;
  height: 85%;

  font-size: 10px;

  color: #292a2d;
  background-color: azure;
}

.grid-solu {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.grid-solu .grid-item {
  width: 108px;

  background-color: #788080;
}

.grid-options {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;

  width: 436px;
  height: 410px;
}

.grid-item {
  padding: 20px;

  font-size: 50px;
  text-align: center;
  
  border: 1px solid #292a2d;
  background-color: azure;

  cursor: pointer;
}

.grid-item:active {
  filter: brightness(0.5);
}

.grid-options .grid-item-equals {
  grid-row-start: 1;
  grid-row-end: 5;

  padding-top: 160px;

  font-size: 50px;
  text-align: center;
  
  border: 1px solid #292a2d;
  background-color: #ec6a30;
  cursor: pointer;
}

.grid-options .grid-item-equals:active {
  filter: brightness(0.5);
}